/*  your css code here. If applicable */
* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      html,
      body {
        height: 100%;
        width: 100%;
      }
      main {
        width: 1200px;
        height: 100%;
        display: block;
        margin: 10px auto;
      }
      section {
        width: 100%;
        /* height: 100%; */
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
      }
      table {
        border: 1px solid black;
      }
      td {
        border: 1px solid black;
        padding: 1px;
      }
      .center {
        text-align: center;
      }
      .right {
        text-align: right;
      }

      #table-2 td {
        height: 25px;
      }